<nav class="navbar navbar-expand-md navbar-light">
  <div class="vector-nav">
    <img
      src="https://user-images.githubusercontent.com/36870065/96219438-7829f180-0fa4-11eb-8ff2-3eea50a6e3c9.png"
      height="290"
      width="350rem"
    />
  </div>
  <div class="navbar-collapse collapse">
    <img
      class="navbar-brand"
      src="https://i.postimg.cc/FRP7Q8kz/FOSS.png"
      height="230"
      width="220"
    />
  </div>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item px-1">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" routerLink="#">Events</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" routerLink="#">Board</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" routerLink="#">Blogs</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" routerLink="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
