.nav-link {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 1em;
  text-align: center;
}

.nav-link.active {
  color: #5449cc !important;
  border-bottom: 3px solid #5449cc;
}

.exclusive-banner {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  z-index: 100000;
}

.exclusive-banner img {
  width: 100%;
}

@media (max-width: 575.98px) {
  .exclusive-banner {
    width: 46vw;
  }
}
