.active {
  color: #7700cf;
}

.vector-nav {
  position: absolute;
  margin-top: 7rem;
  margin-left: -2rem;
  z-index: -1;
}

.navbar-brand {
  position: absolute;
  margin-top: 3.2rem;
  margin-left: 1.8rem;
}

ul > li > a {
  text-transform: uppercase;
  font-weight: bold;
}

ul > li > a:hover {
  text-transform: uppercase;
  font-weight: bold;
  color: #5449cc;
}
