.active {
  color: #5449cc !important;
}

body {
  overflow-x: hidden;
}

.navbar-change {
  position: fixed;
  background-color: white;
  height: 4.5rem;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

.vector-nav {
  position: absolute;
  margin-top: 12rem;
  margin-left: -2rem;
  z-index: -1;
}

.navbar-brand {
  position: absolute;
  margin-top: 4.5rem;
  margin-left: 1.2rem;
}

ul > li > a {
  padding-top: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

ul > li > a:hover {
  text-transform: uppercase;
  font-weight: bold;
  color: #5449cc;
}

@media (max-width: 500px) {
  .vector-nav {
    margin-top: 0rem;
    float: none;
    margin-left: -8rem;
    z-index: -1;
  }

  .navbar-toggler {
    margin-right: -13px;
  }

  img {
    margin-left: -50px !important;
  }
  .navbar-brand {
    position: absolute;
    margin-top: -6.5rem;
    margin-left: 1.2rem;
    z-index: 0;
  }
}

@media (max-width: 766px) {
  .vector-nav {
    margin-top: 0rem;
    margin-left: -2rem;
    z-index: -1;
  }

  .navbar-brand {
    position: absolute;
    margin-top: -6.5rem;
    margin-left: 1.2rem;
    z-index: 0;
  }
}
