<!-- ======= Contact Section ======= -->
<h2 class="heading">CONTACT US</h2>
<section
  class="contact"
  data-aos="fade-up"
  data-aos-easing="ease-in-out"
  data-aos-duration="500"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-us-cover-img d-sm-none d-md-block d-none">
          <div class="d-flex justify-content-center"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 contact-row">
        <div class="row">
          <div class="col-md-12">
            <div class="info-box">
              <fa-icon [icon]="faAddressBook"></fa-icon>
              <h3>Our Address</h3>
              <p>SLIIT Malabe</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <fa-icon [icon]="faEnvelope"></fa-icon>
              <h3>Email Us</h3>
              <p>infosliitfoss@gmail.com</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <fa-icon [icon]="faPhoneAlt"></fa-icon>
              <h3>Call Us</h3>
              <p>121212121212</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <form action="#" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Subject"
              data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of subject"
            />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              data-rule="required"
              data-msg="Please write something for us"
              placeholder="Message"
            ></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
