.heading {
  text-align: center;
  font-family: 'Baloo Thambi 2', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.intro {
  text-align: center;
  font-family: 'Baloo Thambi 2', sans-serif;
  font-size: 1rem;
}

h2,
h3,
p {
  font-family: 'Baloo Thambi 2', sans-serif;
  text-align: center;
}

.contact-form {
  padding: 20px;
  font-family: 'Baloo Thambi 2', sans-serif;
}
