<footer class="page-footer font-small pt-4">
  <div class="content col-6 float-left">
    <img
    src="https://i.postimg.cc/BbdQjxBG/logo-light-cut.png"
    alt="SLIIT FOSS"
    class="avatar avatar-7 mr-2"
    style="width: 74px;"
  />
    <p>Here you can use rows and columns to organize your footer content.</p>
    <div>
      <a href="https://www.facebook.com/sliitfoss" target="_blank"
        ><i class="fab fa-facebook-square fa-3x sm-icons"></i
      ></a>
      <a href="https://instagram.com/sliitfoss" target="_blank"
        ><i class="fab fa-instagram-square fa-3x sm-icons"></i
      ></a>
      <a
        href="https://www.youtube.com/channel/UCPPO-QR0Dv13ewjhPsc_I3w"
        target="_blank"
        ><i class="fab fa-youtube-square fa-3x sm-icons"></i
      ></a>
      <a href="https://github.com/sliit-foss" target="_blank"
        ><i class="fab fa-github-square fa-3x sm-icons"></i
      ></a>
      <a href="https://medium.com/sliit-foss" target="_blank"
        ><i class="fab fa-medium fa-3x sm-icons"></i
      ></a>
    </div>
  </div>
  <div class="col-3 float-left">
    <h5 class="text-uppercase">Links</h5>
    <ul>
      <li>
        <a href="#!">Link 1</a>
      </li>
      <li>
        <a href="#!">Link 2</a>
      </li>
      <li>
        <a href="#!">Link 3</a>
      </li>
      <li>
        <a href="#!">Link 4</a>
      </li>
    </ul>
  </div>
  <div class="col-3 float-left">
    <h5 class="text-uppercase">Contact US</h5>
  </div>
  <div class="col-12 footer-copyright text-center py-3 float-left">
    © 2020 Copyright:
    <a href="#">SLIIT FOSS Community</a>
  </div>
</footer>
