<footer class="page-footer font-small pt-4">
  <div class="content col-6 float-left">
    <h5 class="text-uppercase">Footer Content</h5>
    <p>Here you can use rows and columns to organize your footer content.</p>
    <ul>
      <i class="fab fa-facebook-square"></i>
    </ul>
  </div>
  <div class="col-3 float-left">
    <h5 class="text-uppercase">Links</h5>
    <ul>
      <li>
        <a href="#!">Link 1</a>
      </li>
      <li>
        <a href="#!">Link 2</a>
      </li>
      <li>
        <a href="#!">Link 3</a>
      </li>
      <li>
        <a href="#!">Link 4</a>
      </li>
    </ul>
  </div>
  <div class="col-3 float-left">
    <h5 class="text-uppercase">Contact US</h5>
  </div>
  <div class="col-12 footer-copyright text-center py-3 float-left">
    © 2020 Copyright:
    <a href="#">SLIIT FOSS Community</a>
  </div>
</footer>
