<div>
  <div class="intro col-lg-8 mx-lg-auto">
    <h3 class="heading">Who are we?</h3>
    <p>
      Just like yourself we too are on our journeys of learning the fascinating
      concepts of software whilst doing as much (...or little) as we can to grow
      this community
    </p>
    <br />
    <h3 class="heading">What is our goal?</h3>
    <p>
      The goal of the starting Open Source Community at Sri Lanka Institute of
      Information Technology is to improve student skills, contribute to society
      with inventions and new ideas, and make students part of the largest
      community in the world. <br />
      (Making friends along the way doesn't hurt as well.)
    </p>
    <br />
    <h3 class="heading">What do we do?</h3>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Contribute to society with inventions and innovative ideas that turn
            young lives to feel like part of the largest developing population
            in the world.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Mobilize the group through various partnerships and projects, such
            as hackathons, meetups and various events related to technology and
            FOSS.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Raise consciousness in professional forums and all levels of society
            and encourage FOSS.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Make FOSS tools available to the masses through local language
            translations of interfaces, documentation and manuals.
          </p>
        </div>
      </div>
    </div>
    <br />
    <br />
    <h3 class="heading">A brief history on Free and Open Source Software</h3>
    <p>
      The principle of Free Open Source Software, as we now know it, started
      with Richard Stallman’s development of the concept of “free software” in
      the early 1980s. To further his vision, not to mention some pretty good
      software, Richard went on to build the GNU project and the Free Software
      Foundation. It took some more decades, but it became apparent to most
      people at the beginning of the 2000s that the vision of free software was
      consolidating the share of minds around the world.
    </p>
    <br />
    <br />
  </div>
</div>
