.heading {
  text-align: center;
  font-family: 'Baloo Thambi 2', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #5a5af3;
}
.intro {
  text-align: center;
  font-family: 'Baloo Thambi 2', sans-serif;
  font-size: 1rem;
}

h2,
h3,
p {
  font-family: 'Baloo Thambi 2', sans-serif;
  text-align: center;
}

.card {
  border-radius: 25px;
}

.card:hover {
  background-color: #d0d0fb;
  transition-delay: 0.2s;
}
