<!-- ======= vision mission Section ======= -->
<section class="auto-space auto-space-vertical">
  <p class="hero-text">About SLIIT FOSS Community</p>
</section>
<section class="auto-space auto-space-vertical">
  <div class="row">
    <div class="col-md-5">
      <img src="assets/img/features-1.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-7 pt-4">
      <h2 class="text-mission text-center text-md-left">Our Mission</h2>
      <p class="text-description text-center text-md-left">
        Educating and promoting groups and amplifying and advocating the message
        of the FOSS ideology to achieve software independence for all SLIIT FOSS
        enthusiasts.
      </p>
    </div>
  </div>
</section>
<section class="auto-space auto-space-vertical">
  <div class="row">
    <div class="col-md-5 order-1 order-md-2">
      <img src="assets/img/features-2.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-7 pt-5 order-2 order-md-1">
      <h2 class="text-vision text-center text-md-left">Our Vision</h2>
      <p class="text-description text-center text-md-left">
        Support and inspire the global community on behalf of Free and Open
        Source Applications throughout the path to reach the optimum standard of
        technology!
      </p>
    </div>
  </div>
</section>
<section class="auto-space auto-space-vertical">
  <div class="row">
    <div class="col-md-5">
      <img src="assets/img/features-3.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-7 pt-5">
      <h2 class="text-mission text-center text-md-left">Our Strategy</h2>
      <p class="text-description text-center text-md-left">
        Support FOSS related projects and communities in Sri Lanka in
        infrastructure and advisory
      </p>
    </div>
  </div>
</section>
<!-- End vision mission Section -->

<!-- ======= Services Section ======= -->
<section class="services auto-space auto-space-vertical">
  <h3 class="heading">What do we do?</h3>
  <br />
  <div class="row">
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
      <div class="app-card app-box-shadow icon-box">
        <div class="icon">
          <fa-icon [icon]="faUsers"></fa-icon>
        </div>
        <p class="description">
          Contribute to society with inventions and innovative ideas that turn
          young lives to feel like part of the largest developing population in
          the world.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
      <div class="app-card app-box-shadow icon-box">
        <div class="icon">
          <fa-icon [icon]="['fab', 'cloudscale']"></fa-icon>
        </div>
        <p class="description">
          Mobilize the group through various partnerships and projects, such as
          hackathons, meetups and various events related to technology and FOSS.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
      <div class="app-card app-box-shadow icon-box">
        <div class="icon"><fa-icon [icon]="faFistRaised"></fa-icon></div>
        <p class="description">
          Raise consciousness in professional forums and all levels of society
          and encourage FOSS.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
      <div class="app-card app-box-shadow icon-box">
        <div class="icon"><fa-icon [icon]="faMagic"></fa-icon></div>
        <p class="description">
          Make FOSS tools available to the masses through local language
          translations of interfaces, documentation and manuals.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- ======= Why Us Section ======= -->
<section class="why-us section-bg auto-space auto-space-vertical">
  <h3 class="heading">A brief history on Free and Open Source Software</h3>
  <br />
  <div class="app-card container">
    <div class="row">
      <div class="col-lg-6 video-box">
        <img
          src="../../../assets/img/blog-post-2.webp"
          class="img-fluid"
          alt=""
        />
        <a
          href="https://www.youtube.com/watch?v=vjMZssWMweA"
          class="venobox play-btn mb-4"
          data-vbtype="video"
          data-autoplay="true"
        ></a>
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
        <div class="icon-box">
          <p class="whyusdescription">
            The principle of Free Open Source Software, as we now know it,
            started with Richard Stallman’s development of the concept of “free
            software” in the early 1980s. To further his vision, not to mention
            some pretty good software, Richard went on to build the GNU project
            and the Free Software Foundation. It took some more decades, but it
            became apparent to most people at the beginning of the 2000s that
            the vision of free software was consolidating the share of minds
            around the world.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
</section>
<!-- End Why Us Section -->
