<div>
  <div>
    <h3 class="heading">Who are we?</h3>
    <p>
      Just like yourself we too are on our journeys of learning the fascinating
      concepts of software whilst doing as much (...or little) as we can to grow
      this community
    </p>
    <br />
    <h3 class="heading">What is our goal?</h3>
    <p>
      The goal of the starting Open Source Community at Sri Lanka Institute of
      Information Technology is to improve student skills, contribute to society
      with inventions and new ideas, and make students part of the largest
      community in the world. <br />
      (Making friends along the way doesn't hurt as well.)
    </p>
    <br />

    <!-- ======= Services Section ======= -->
    <h3 class="heading">What do we do?</h3>
    <section class="services">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch"
            data-aos="fade-up"
          >
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <p class="description">
                Contribute to society with inventions and innovative ideas that
                turn young lives to feel like part of the largest developing
                population in the world.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <p class="description">
                Mobilize the group through various partnerships and projects,
                such as hackathons, meetups and various events related to
                technology and FOSS.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <p class="description">
                Raise consciousness in professional forums and all levels of
                society and encourage FOSS.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-3 d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <p class="description">
                Make FOSS tools available to the masses through local language
                translations of interfaces, documentation and manuals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Why Us Section ======= -->
    <h3 class="heading">A brief history on Free and Open Source Software</h3>
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 video-box">
            <img
              src="../../../assets/img/blog-post-2.jpg"
              class="img-fluid"
              alt=""
            />
            <a
              href="https://www.youtube.com/watch?v=vjMZssWMweA"
              class="venobox play-btn mb-4"
              data-vbtype="video"
              data-autoplay="true"
            ></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
            <div class="icon-box">
              <p class="whyusdescription">
                The principle of Free Open Source Software, as we now know it,
                started with Richard Stallman’s development of the concept of
                “free software” in the early 1980s. To further his vision, not
                to mention some pretty good software, Richard went on to build
                the GNU project and the Free Software Foundation. It took some
                more decades, but it became apparent to most people at the
                beginning of the 2000s that the vision of free software was
                consolidating the share of minds around the world.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Why Us Section -->

    <br />
    <br />
    <br />
    <br />
  </div>
</div>
