<div>
  <h1 class="heading">Code of Conduct</h1>

  <div class="container mt-4">
    <br />
    <h2 class="mt-3">Purpose of Code of Conduct</h2>

    <p>
      The purpose of our Community Code of Conduct is to ensure that all
      participants in the Elastic community have the best possible experience.
      We are all here to help each other learn, grow our skillsets and have a
      good time! The Elastic Community Code of Conduct covers our behavior as
      members of the Elastic community, in any forum, mailing list, wiki, web
      site, code repository, IRC channel, private correspondence, or public
      meetings. As a worldwide community, diversity is one of our huge
      strengths, but it can also lead to communication issues and unhappiness.
      To that end, we have a few ground rules that we ask people to adhere to,
      to ensure that the Elastic community continues to be an excellent space in
      which to communicate, collaborate, and contribute. This isn't an
      exhaustive list of things that you can't do. Rather, take it in the spirit
      in which it's intended — a guide to make it easier to be excellent to each
      other. We expect it to be followed in spirit as much as in the letter.
      <i>
        If you believe someone is violating the code of conduct, we ask that you
        report it by emailing infosliitfoss@gmail.com.
      </i>
    </p>

    <h2>Expected Behaviour</h2>
    <ul>
      <li>
        <b>Be considerate</b> - Your work will be used by other people, and you
        in turn will depend on the work of others. Any decision you take will
        affect users and colleagues, and you should take those consequences into
        account when making decisions.
      </li>
      <li>
        <b>Be patient</b> - That'll helps you build empathy towards others.
      </li>
      <li>
        <b>e respectful</b> - Receiving respect from others is important because
        it helps us to feel safe and to express ourselves.
      </li>
      <li>
        <b> Be nice </b>
        People often ask me what is the most effective technique for
        transforming their life. It is a little embarrassing that after years
        and years of research and experimentation, I have to say that the best
        answers is, 'just be a little kinder'.
      </li>
      <li>
        <b>Communicate effectively </b> - Effective communication can help to
        foster a good working relationship with others.
      </li>
      <li>
        <b> Get for help when unsure </b>
        - Ask help when if you need from us.
      </li>
    </ul>

    <h2>Unacceptable Behaviours</h2>
    <ul>
      <li>Violent threats or directed against another person.</li>
      <li>Discriminatory jokes.</li>
      <li>
        Posting (or threatening to post) other people's personally identifying
        information on social media or somewhere.
      </li>
      <li>Personal insults.</li>
      <li>Unwelcome sexual attention.</li>
    </ul>

    <h2>Reporting Guide</h2>
    <p>
      If you believe someone is violating the code of conduct, we ask that you
      report it to the SLIIT FOSS Community by emailing infosliitfoss@gmail.com
    </p>
    <ul>
      <li>Your contact info (So we can stay touch with you)</li>
      <li>
        When and where the incident occurred. Please be as specific as possible.
      </li>
      <li>Any extra context you believe existed for the incident.</li>
      <li>If you believe this incident is ongoing.</li>
      <li>Any other information you believe we should have.</li>
    </ul>

    <h3>What happens after you file a report?</h3>
    <p>
      You will receive an email from us immediately. We promise to take a action
      within 24 hours. (we'll hope for much quicker than that).
    </p>

    <h2>Consequences of Bad Behaviours</h2>
    <p>
      After gathering and processing sufficient information, we'll take
      appropriate action. Respond to a code of conduct violation :
    </p>
    <ul>
      <li>
        <b>We'll give the person in question a public or private warning </b>and
        explain how their behavior negatively impacted others.
      </li>
      <li>
        <b>Suspend the person</b> enforced through a temporary ban on
        participating in any aspect of future community activities.
      </li>
      <li><b>Permanently ban</b> the person from the SLIIT FOSS Community.</li>
    </ul>
  </div>
</div>
