<section class="container-fluid auto-space auto-space-vertical">
  <div class="text-center">
    <h1 class="head-title">WEBINARS</h1>
  </div>
  <br />
  <div class="carousel-box">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of slides; let i = index">
        <div class="card">
          <img
            src="{{ slide.image_url }}"
            class="card-img-top"
            alt="Image not available"
          />
          <div class="card-body">
            <h5 class="card-title">{{ slide.title }}</h5>
            <div style="margin-top: -10px">
              <!-- <small>
                  <i class="fa fa-user">&nbsp;</i>{{ slide.speaker }}
                </small> -->
            </div>
            <p class="card-text">
              {{ slide.description }}
            </p>

            <a href="{{ slide.link }}" target="_blank">
              <button class="member-btn btn-sm">View</button>
            </a>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <div *ngIf="loading" class="spinner">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</section>
