#member {
  padding-bottom: 100px;
}

.txt {
  position: absolute;
  text-align: justify;
}

.p2 {
  text-transform: uppercase;
}

.p3 {
  color: #464646;
}

.h2 {
  font-weight: bold;
  font-size: 2.5rem;
  /*line-height: 50px;*/
  margin-bottom: 1rem;
  color: #5a5af3;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

button {
  background-color: #373085;
}

img {
  position: relative;
}

.description-text {
  font-size: 1.1rem;
  line-height: normal;
  color: #525151;
  text-align: justify;
  font-family: 'Baloo Thambi 2', cursive;
}

ul {
  list-style-type: none;
}

.vector-styles {
  padding-top: 2rem;
}

.member-btn {
  background: #5a5af3;
  color: #fff;
  border: 2px solid #5a5af3;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 8px 20px 9px 20px;
}

.member-btn:hover {
  background: #7272f5;
  border-color: #7272f5;
}

#descDiv {
  padding-top: 18vh;
}

#coding-vector-div {
  display: none;
}

@media only screen and (max-device-width: 1024px) {
  #coding-vector-div {
    display: none !important;
  }

  .img-member {
    margin-top: 50px !important;
    height: 20em !important;
    width: 20em !important;
  }

  .coding-vector {
    height: 20em !important;
    width: 20em !important;
  }

  #descDiv {
    padding-top: 2vh;
  }

  #aboutDiv {
    margin-top: 10vh;
  }
}

@media only screen and (max-device-width: 768px) {
  #coding-vector-div {
    display: none !important;
  }

  .img-member {
    margin-top: 50px !important;
    height: 20em !important;
    width: 20em !important;
  }

  .coding-vector {
    height: 20em !important;
    width: 20em !important;
  }

  #descDiv {
    padding-top: 2vh;
}

@media (max-width: 576px) {
  .img-member {
    height: 20em !important;
    width: 20em !important;
  }

  .coding-vector {
    height: 20em !important;
    width: 20em !important;
  }

  #member {
    padding-bottom: 35px !important;
  }
}

@media only screen and (max-device-width: 425px) {
  .img-member {
    height: 26.25em !important;
    width: 20.25em !important;
  }

  .coding-vector {
    height: 26.25em !important;
    width: 20.25em !important;
  }

  #firstVectorDiv {
    margin-top: -10vh;
    display: none !important;
  }

  #descDiv {
    padding-top: 2vh;
  }
  #member {
    padding-bottom: 25px !important;
  }
}
