<section id="member ">
  <div class="container-fluid mt-5">
    <div class="row member-wrapper">
    <div class="row mb-5 first-div">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h2 class="h2">SLIIT FOSS Community</h2>
        <br />
        <p class="description-text">
          A group of volunteers who believe in the usage of Free/Open Source
          Software (FOSS). The primary objective of the community is to promote,
          develop and diversify the usage of Free and Open Source Software at
          SLIIT.
        </p>
        <br />
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSeBgZRwt3cgGczRKLsQWimdh97XcCFxrzVUw5g8HNAJePQp_Q/viewform"
          target="_blank"
        >
          <button
            class="member-btn btn animate__animated animate__shakeX animate__delay-2s 2s"
          >
            Become a Member
          </button>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6" style="margin-top: -10vh">
        <img src="../../assets/img/img-member2.svg" class="img-member" />
      </div>
    </div>

    <!-- <div class="row" id="aboutDiv">
      <div class="col-sm-12 col-md-6 col-lg-6" id="firstVectorDiv">
        <img src="../../assets/img/git.svg" class="coding-vector" />
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h2 class="h2">What We Do?</h2>
        <br />
        <p class="description-text " style="margin-right:50px;">
          Contribute to society with inventions and innovative ideas that turn
          young lives to feel like part of the largest developing population in
          the world. And mobilize the group through various partnerships and
          projects, such as hackathons, meetups and various events related to
          technology and FOSS.
        </p>
        <br />
      </div>
    </div> -->
  </div>
    <section class="fdb-block mt-5 whatWeDoSection">
      <div class="container wwd">
        <div class="row justify-content-center">
          <div class="col col-md-8 text-center">
            <h2 class="h2">What We Do?</h2>
            <p class="description-text-wwd">Contribute to society with inventions and innovative ideas that turn
              young lives to feel like part of the largest developing population in
              the world. And mobilize the group through various partnerships and
              projects, such as hackathons, meetups and various events related to
              technology and FOSS.</p>
          </div>
        </div>
      </div>
    </section>


    <div class="container stats mb-5">
      <div class="row">
          <div class="four col-md-3">
              <div class="counter-box colored"> <i class="fa fa-calendar"></i> <span class="counter">30</span>
                  <p>Hosting Events</p>
              </div>
          </div>
          <div class="four col-md-3">
              <div class="counter-box"> <i class="fa fa-group"></i> <span class="counter">300</span>
                  <p>Community Members</p>
              </div>
          </div>
          <div class="four col-md-3">
              <div class="counter-box"> <i class="fa fa-github"></i> <span class="counter">10</span>
                  <p>Github Projects</p>
              </div>
          </div>
          <div class="four col-md-3">
              <div class="counter-box"> <i class="fa fa-video-camera"></i> <span class="counter">10</span>
                  <p>Webinars</p>
              </div>
          </div>
      </div>
  </div>

</div>
</section>
