<section id="member">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="h2">SLIIT FOSS Community</h2>
        <br />
        <p class="description-text">
          A group of volunteers who believe in the usage of Free/Open Source
          Software (FOSS). The primary objective of the community is to promote,
          develop and diversify the usage of Free and Open Source Software at
          SLIIT.
        </p>
        <br />
        <button class="member-btn">Become a Member</button>
      </div>
      <div class="col-md-5" style="margin-top: -10vh">
        <img src="../../assets/img/img-member.svg" class="img-member" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-5 d-sm-none d-md-block d-none">
        <img src="../../assets/img/coding-vector.jpg" class="coding-vector" />
      </div>
      <div class="col-md-7" style="padding-top: 18vh">
        <h2 class="h2">What We Do?</h2>
        <br />
        <p class="description-text">
          The principle of Free Open Source Software, as we now know it, started
          with Richard Stallman’s development of the concept of “free software”
          in the early 1980s. To further his vision, not to mention some pretty
          good software, Richard went on to build the GNU project and the Free
          Software Foundation. It took some more decades, but it became apparent
          to most people at the beginning of the 2000s that the vision of free
          software was consolidating the share of minds around the world.
        </p>
        <br />
      </div>
      <div class="col-md-5 d-sm-block d-md-none d-block">
        <img src="../../assets/img/coding-vector.jpg" class="coding-vector" />
      </div>
    </div>
  </div>
</section>
