.txt {
  position: absolute;
  text-align: justify;
}

.p1 {
  color: #5449cc;
  font-family: 'Baloo Thambi 2', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
}

.p2 {
  text-transform: uppercase;
}

.p3 {
  color: #464646;
}

button {
  background-color: #373085;
}

img {
  position: absolute;
}

.description-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.vector-styles {
  padding-top: 2rem;
}
