<nav class="UnderlineNav UnderlineNav--right" aria-label="Foo bar">
  <div class="UnderlineNav-actions">
      <img
        src="https://i.postimg.cc/KzrnWC0b/logo-dark-cut.png"
        alt="SLIIT FOSS"
        class="avatar avatar-7 mr-2"
        style="width: 74px;"
      />
  </div>
  <div class="UnderlineNav-body">
    <a class="UnderlineNav-item active" href="#" aria-current="page">Home</a>
    <a class="UnderlineNav-item" href="#">Events</a>
    <a class="UnderlineNav-item" href="#">Blog</a>
    <a class="UnderlineNav-item" href="#">About</a>
    <a class="UnderlineNav-item" href="#">Contact</a>
  </div>
</nav>
