<div class="container">
  <div class="row">
    <div class="col-3 float-left">
      <div class="box">
        <img src="../../assets/img/img-we-do.svg" />
        <p>LoremIpsum</p>
        <h5>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </h5>
      </div>
    </div>
    <div class="col-3 float-left">
      <div class="box">
        <img src="../../assets/img/img-we-do.svg" />
        <p>LoremIpsum</p>
        <h5>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </h5>
      </div>
    </div>
    <div class="col-6 float-right">
      <h2 class="p1">WHAT WE DO</h2>
      <h1 class="p2">Lorem Ipsum is simply dummy text of the printing and</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="box">
        <img src="../../assets/img/img-we-do.svg" />
        <p>LoremIpsum</p>
        <h5>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </h5>
      </div>
    </div>
    <div class="col-3">
      <div class="box">
        <img src="../../assets/img/img-we-do.svg" />
        <p>LoremIpsum</p>
        <h5>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </h5>
      </div>
    </div>
  </div>
</div>
