<div class="col-3">
  <div>
    <img src="../../assets/img/img-we-do.svg" />
    <p>Lorem Ipsum</p>
    <h5>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h5>
  </div>
  <div>
    <img src="../../assets/img/img-we-do.svg" />
    <p>Lorem Ipsum</p>
    <h5>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h5>
  </div>
</div>
<div class="col-3">
  <div>
    <img src="../../assets/img/img-we-do.svg" />
    <p>Lorem Ipsum</p>
    <h5>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h5>
  </div>
  <div>
    <img src="../../assets/img/img-we-do.svg" />
    <p>Lorem Ipsum</p>
    <h5>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h5>
  </div>
</div>
<div class="col-6"></div>
