<div class="container" style="height: 70vh" style="margin-bottom: 35%">
  <div class="row">
    <div class="col-3 float-left">
      <div class="box">
        <img src="../../assets/img/img-we-do.svg" />
        <p>Lorhim A</p>
        <h5>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </h5>
      </div>
    </div>
    <div class="col-3 float-left" style="margin-top: 10%">
      <div class="box">
        <img src="../../assets/img/img-we-do.svg" />
        <p>LoremIpsum B</p>
        <h5>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </h5>
      </div>
    </div>
    <div class="col-6 float-right" style="margin-top: 0%; padding-top: 0%">
      <h2 class="p1">WHAT WE DO</h2>
      <h1 class="p2">Lorem Ipsum is simply dummy text of the printing and</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-3" style="margin-top: 12%">
      <div class="box">
        <img src="../../assets/img/img-we-do.svg" />
        <p>LoremIpsum C</p>
        <h5>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </h5>
      </div>
    </div>
    <div class="col-3" style="margin-top: 22%">
      <div class="box">
        <img src="../../assets/img/img-we-do.svg" />
        <p>LoremIpsum D</p>
        <h5>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </h5>
      </div>
    </div>
  </div>
</div>
