.team-boxed {
  color: #313437;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-boxed .intro p {
  margin-bottom: 0;
}

.team-boxed .people {
  padding: 30px 0;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 15px 0px 15px 0px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 0px;
  color: inherit;
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #6d6c6c;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 15px;
}

.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 12px;
  color: #a2a8ae;
}

.team-boxed .social:hover {
  font-size: 12px;
  color: #5449cc;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 8px;
  display: inline-block;
  opacity: 0.7;
  padding: 0px;
}

.team-boxed .social a:hover {
  opacity: 1;
}

.fa {
  font-size: 18px;
}

.intro {
  margin-top: 20px;
}

.intro h1 {
  color: #000;
  text-transform: uppercase;
  font-size: 22pt;
}

.box img {
  cursor: pointer;
  width: 9em;
}
