<div class="team-boxed">
  <div class="container">
    <div class="intro">
      <h1 class="text-center">Board of Officials - 2020/21</h1>
    </div>
    <div class="row people">
      <!-- {{ board | json }} -->
      <div
        class="col-md-4 col-lg-3 item"
        *ngFor="let member of board; let i = index"
      >
        <div class="box">
          <img
            class="rounded-circle"
            data-bs-hover-animate="pulse"
            src="{{ member.img }}"
          />
          <h3 class="name">{{ member.name }}</h3>
          <p class="title">{{ member.position }}</p>
          <div class="social">
            <a href="{{ member.facebook }}" target="_blank"
              ><i class="fa fa-facebook-official"></i
            ></a>
            <a href="{{ member.twitter }}" target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
            <a href="{{ member.instagram }}" target="_blank"
              ><i class="fa fa-instagram"></i
            ></a>
            <a href="{{ member.linkedin }}" target="_blank"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
