.head-title::before {
  content: '';
  background: #5a5af3;
  height: 5px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(48px);
}

.head-title::after {
  content: '';
  background: #5a5af3;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

.card:hover {
  -webkit-box-shadow: 0px 0px 28px -16px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 0px 28px -16px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 0px 28px -16px rgba(0, 0, 0, 0.75) !important;
}

.head-title {
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.card-title {
  font-size: 12pt;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.card-text {
  padding-top: 8px;
}

.member-btn {
  width: 90px;
  background: #5a5af3;
  color: #fff;
  border: 2px solid #5a5af3;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-bottom: 10px;
}

.member-btn:hover {
  background: #7272f5;
  border-color: #7272f5;
}

.card {
  width: calc(100% - 40px);
  text-align: center;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 200ms;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

/*@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  .card {
    margin-left: 60px !important;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  !* For mobile phones: *!
  .card {
    margin-left: 40px !important;
  }
}*/
