.head-title::before {
  content: '';
  background: #5a5af3;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(48px);
}

.head-title::after {
  content: '';
  background: #5a5af3;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

.past-events-section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.card-title {
  font-size: 11pt;
  font-weight: bold;
}

.member-btn {
  width: 90px;
  background: #5a5af3;
  color: #fff;
  border: 2px solid #5a5af3;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-bottom: 10px;
}

.member-btn:hover {
  background: #7272f5;
  border-color: #7272f5;
}
