.head-title::before {
  content: '';
  background: #5a5af3;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(48px);
}

.head-title::after {
  content: '';
  background: #5a5af3;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

.head-title {
  font-size: 25px;
  font-family: 'Fraunces', serif;
}

.past-events-section {
  margin-top: 40px;
  margin-bottom: 60px;
}

.card-title {
  font-size: 12pt;
  font-weight: bold;
  font-family: 'Fraunces', serif;
}

.card-text {
  padding-top: 8px;
  font-family: 'Baloo Thambi 2', cursive;
}

.member-btn {
  width: 90px;
  background: #5a5af3;
  color: #fff;
  border: 2px solid #5a5af3;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-bottom: 10px;
}

.member-btn:hover {
  background: #7272f5;
  border-color: #7272f5;
}

.card {
  width: 16.5rem;
  text-align: center;
  display: block;
  height: 420px !important;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

@media screen and (min-width: 375px) {
  .card {
    margin-left: 38px !important;
  }
}
