<div class="container-lg clearfix" style="height: 70vh">
  <div class="txt col-6 float-left p-4">
    <p class="p1">Testimonials</p>
    <p class="p2">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever
    </p>
    <p class="p3">Mr. Flutter - CEO of Upside Down</p>
  </div>
  <div class="col-6 float-right p-4">
    <img src="../../assets/img/img-Mr-Fluter.jpg" />
  </div>
</div>
<div class="container-lg clearfix">
  <div class="col-4 float-left p-4">
    <ul>
      <li>
        <div class="CircleBadge CircleBadge--small bg-gray-dark">
          <img
            src="../../assets/img/img-we-do.svg"
            alt="we do"
            class="CircleBadge-icon"
          />
        </div>
      </li>
      <li>
        <p class="p2 ml-3">150+</p>
        <p class="p3 ml-3">Completed Events</p>
      </li>
    </ul>
  </div>
  <div class="col-4 float-left p-4">
    <ul>
      <li>
        <div class="CircleBadge CircleBadge--small bg-gray-dark">
          <img
            src="../../assets/img/img-we-do.svg"
            alt="we do"
            class="CircleBadge-icon"
          />
        </div>
      </li>
      <li>
        <p class="p2 ml-3">150+</p>
        <p class="p3 ml-3">Completed Events</p>
      </li>
    </ul>
  </div>
  <div class="col-4 float-left p-4">
    <ul>
      <li>
        <div class="CircleBadge CircleBadge--small bg-gray-dark">
          <img
            src="../../assets/img/img-we-do.svg"
            alt="we do"
            class="CircleBadge-icon"
          />
        </div>
      </li>
      <li>
        <p class="p2 ml-3">150+</p>
        <p class="p3 ml-3">Completed Events</p>
      </li>
    </ul>
  </div>
</div>
