<hr />
<section class="what-we-do-section">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col-6">
            <div class="card" style="width: 18rem">
              <img
                src="../../../assets/img/IMG_9744.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>

          <div class="col-6" style="padding-top: 5rem">
            <div class="card" style="width: 18rem">
              <img
                src="../../../assets/img/IMG_0635.JPG"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="card" style="width: 18rem">
              <img
                src="../../../assets/img/IMG_9881.jpg"
                alt="..."
                height="220px"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>

          <div class="col-6" style="padding-top: 5rem">
            <div class="card" style="width: 18rem">
              <img
                src="../../../assets/img/IMG_6966-2.jpg"
                class="card-img-top"
                alt="..."
                height="240px"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5 mt-5">
        <h1 style="padding-top: 15rem">What we do?</h1>
        <p>
          The open-source-software movement is a movement that supports the use
          of open-source licenses for some or all software, a part of the
          broader notion of open collaboration.
        </p>
      </div>
    </div>
  </div>
</section>
