<section class="latest-blog-section p-3 p-lg-5" data-aos="fade-up" data-aos-duration="2000">
  <div class="text-center" data-aos="fade-up">
    <h1 class="head-title"  >Latest Blog Posts</h1>
  </div>
  <div class="container" id="cardContainer">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div
        *ngFor="let post of blogPosts | slice: 0:4"
        class="col-sm-12 col-md-3 mb-5"
      >
        <div class="card">
          <img
            alt="image"
            class="card-img"
            height="142"
            src="{{ post.thumbnail }}"
            width="152"
          />
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <a class="btn sliit-foss-btn" href="{{ post.link }}" target="_blank"
              >Read More</a
            >
          </div>

          <div
            class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0"
          >
            <div class="views">
              Published on {{ getDaysCount(post.pubDate) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--

<div *ngFor="let post of blogPosts | slice: 0:4" class="col-sm-12 col-md-3 col-lg-3 mb-5">
<div class="card">
  <img
    alt="image"
    class="card-img"
    height="142"
    src="{{ post.thumbnail }}"
    width="152"
  />
  <div class="card-body">
    <h4 class="card-title">{{ post.title }}</h4>
    <a class="btn sliit-foss-btn" href="{{ post.link }}" target="_blank"
    >Read More</a
    >
  </div>
  <div
    class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0"
  >
    <div class="views">
      Published on {{ getDaysCount(post.pubDate) }}
    </div>
  </div>
</div>
</div>
-->
