.card-img {
  border-radius: 12px 12px 0px 0px;
}
.card {
  border-radius: 12px;
  height: 290px;
  width: 247px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 28px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px -16px rgba(0, 0, 0, 0.75);
}

.card-title {
  margin-bottom: 0.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.cat {
  display: inline-block;
  margin-bottom: 1rem;
}

.fa-users {
  margin-left: 1rem;
}

.card-footer {
  font-size: 0.8rem;
}

.sliit-foss-btn {
  background: #5a5af3;
  color: #fff;
  border: 2px solid #5a5af3;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-bottom: 10px;
}

.sliit-foss-btn:hover {
  background: #7272f5;
  border-color: #7272f5;
}

.head-title::before {
  content: '';
  background: #5a5af3;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(48px);
}

.head-title::after {
  content: '';
  background: #5a5af3;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

.head-title {
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
  .card {
    margin-left: 35px !important;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  /* For mobile phones: */
  .card {
    margin-left: 18px !important;
  }
}
