<section class="container-fluid auto-space auto-space-vertical">
  <div class="text-center">
    <p class="page-title pb-0" data-aos="fade-up">
      Introduction to Compiler Construction
    </p>
    <h2 class="head-title">Ballerina language as a case study</h2>
  </div>
  <br />
  <div class="text-center">
    <div
      class="timer display-4 display-md-3 font-weight-bold pb-5"
      data-aos="fade-up"
    >
      <span class="time-value">{{ days }}</span> D
      <span class="time-value">{{ hours }}</span> H
      <span class="time-value">{{ mins }}</span> M
      <span class="time-value">{{ seconds }}</span> S
    </div>
  </div>
  <div class="text-center">
    <div class="d-flex justify-content-center align-items-center mb-5">
      <div class="flip-card shadow-lg rounded">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="assets/img/special-events/ballerina/manuranga.png"
              alt="speaker"
              class="speaker-img"
            />
          </div>
          <div
            class="flip-card-back d-flex flex-column justify-content-center align-items-center"
          >
            <h1 class="font-weight-bold pt-5">Manuranga Perera</h1>
            <h2>Senior Technical Lead</h2>
            <h2>WSO2</h2>
            <div class="d-flex flex-wrap">
              <a
                href="https://lk.linkedin.com/in/manuranga-perera-85596750"
                target="_blank"
                class="mr-2"
                ><fa-icon
                  [icon]="['fab', 'linkedin']"
                  size="2x"
                  class="social-icon"
                ></fa-icon
              ></a>
              <a
                href="https://mobile.twitter.com/manurangaperera"
                target="_blank"
                class="ml-2"
                ><fa-icon
                  [icon]="['fab', 'twitter']"
                  size="2x"
                  class="social-icon"
                ></fa-icon
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="font-weight-bold pb-3" data-aos="fade-up">Live On</h1>
    <div
      class="w-100 d-flex justify-content-center align-items-center flex-wrap"
    >
      <img
        class="stream-logo shadow-lg rounded"
        src="assets/img/streaming/youtube.png"
      />
      <img
        class="stream-logo shadow-lg rounded"
        src="assets/img/streaming/twitch.png"
      />
      <img
        class="stream-logo shadow-lg rounded"
        src="assets/img/streaming/facebook.png"
      />
    </div>
  </div>
</section>
<a href="https://wso2.com/" target="_blank">
  <img
    src="../../../../assets/img/special-events/ballerina/wso2.png"
    id="logo"
    alt="navbar image"
    class="wso2-banner"
  />
</a>
