<section class="container-fluid auto-space auto-space-vertical">
  <div class="text-center">
    <p class="page-title pb-0" data-aos="fade-up">
      Introduction to Compiler Construction
    </p>
    <h1 class="font-weight-bold pt-2 description">
      Ballerina language as a case study
    </h1>
    <div class="head-title pb-md-2"></div>
  </div>
  <br />
  <div class="text-center">
    <div
      *ngIf="seconds > 0"
      ;
      else
      elseBlock
      class="timer display-4 display-md-3 font-weight-bold pb-5"
      data-aos="fade-up"
    >
      <span class="time-value">{{ days }}</span> D
      <span class="time-value">{{ hours }}</span> H
      <span class="time-value">{{ mins }}</span> M
      <span class="time-value">{{ seconds }}</span> S
    </div>
    <div
      #elseBlock
      class="timer display-4 display-md-3 font-weight-bold pb-5"
      data-aos="fade-up"
    >
      <span class="time-value">THIS EVENT HAS ENDED</span>
    </div>
  </div>
  <div class="text-center">
    <div class="d-flex justify-content-center align-items-center mb-5">
      <div class="flip-card shadow-lg rounded">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="assets/img/special-events/ballerina/manuranga.png"
              alt="speaker"
              class="speaker-img"
            />
          </div>
          <div
            class="flip-card-back d-flex flex-column justify-content-center align-items-center"
          >
            <h1 class="font-weight-bold pt-5">Manuranga Perera</h1>
            <h2>Senior Technical Lead</h2>
            <h2>WSO2</h2>
            <div class="d-flex flex-wrap">
              <a
                href="https://lk.linkedin.com/in/manuranga-perera-85596750"
                target="_blank"
                class="mr-2"
                ><fa-icon
                  [icon]="['fab', 'linkedin']"
                  size="2x"
                  class="social-icon"
                ></fa-icon
              ></a>
              <a
                href="https://mobile.twitter.com/manurangaperera"
                target="_blank"
                class="ml-2"
                ><fa-icon
                  [icon]="['fab', 'twitter']"
                  size="2x"
                  class="social-icon"
                ></fa-icon
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="description font-weight-bold pb-3" data-aos="fade-up">
      Live On
    </h1>
    <div
      class="w-100 d-flex justify-content-center align-items-center flex-wrap"
    >
      <a href="https://www.youtube.com/watch?v=894DMRFQmI0" target="_blank"
        ><img
          class="stream-logo shadow-lg"
          src="assets/img/streaming/youtube.png"
      /></a>
      <a href="https://www.twitch.tv/sliitfoss" target="_blank"
        ><img
          class="stream-logo shadow-lg"
          src="assets/img/streaming/twitch.png"
      /></a>
      <a
        href="https://www.facebook.com/231416053648942/posts/3434245230032659/"
        target="_blank"
        ><img
          class="stream-logo shadow-lg"
          src="assets/img/streaming/facebook.png"
      /></a>
    </div>
  </div>
</section>
<a href="https://ballerina.io" target="_blank">
  <img
    src="../../../../assets/img/special-events/ballerina/ballerina.png"
    id="logo"
    alt="navbar image"
    class="wso2-banner"
  />
</a>
<img
  src="../../../../assets/img/special-events/ballerina/bg.jpg"
  id="logo"
  alt="bg"
  class="ballerina-bg"
/>
