.upcoming-event-card {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.upcoming-event-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: inherit;
}

.event-cover-img {
  margin-left: auto;
  margin-right: 20px;
  height: 350px;
  width: 100%;
}

.btn {
  background: #5a5af3;
  color: #fff;
  border: 2px solid #5a5af3;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 8px 20px 9px 20px;
}

.btn:hover {
  background: #7272f5;
  border-color: #7272f5;
}
