<section>
  <div>
    <div class="text-center">
      <h1 class="head-title">Upcoming Event</h1>
    </div>

    <div>
      <mat-card class="upcoming-event-card">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <br />
            <img
              alt="Photo of a Shiba Inu"
              mat-card-image
              src="https://scontent.fcmb11-1.fna.fbcdn.net/v/t1.0-9/142349666_2306464552810738_2886591502616891092_o.jpg?_nc_cat=109&ccb=2&_nc_sid=a26aad&_nc_ohc=lLEEsJ8qclAAX94AQGq&_nc_ht=scontent.fcmb11-1.fna&oh=d4d25f985b84559900bd6a37589cb84b&oe=60319BED"
              class="event-cover-img"
            />
          </div>

          <div class="col-md-8 col-sm-12">
            <mat-card-content
              ><br /><br /><br />
              <mat-card-title>The Design Process</mat-card-title>
              <mat-card-subtitle>Eugene Ebere</mat-card-subtitle>
              <p class="upcoming-event-description mt-lg-5 mt-5">
                Tune in for an amazing opportunity to take part in the live
                design talk, ‘The Design Process’ by the Product Designer and
                the Figma Community Advocate for friends of Figma, Enugu,
                Nigeria, Eugene Ebere, in collaboration with the Friends of
                Figma Sri Lanka. Reserve your time on January 29th, from 8.00 pm
                and register via the link below. Make sure to join the session
                15 minutes prior to the commencement. Let yourself immerse in a
                world of Figma!
                <span class="text-color-primary">
                  #friendsoffigma #fof #figma #sliit #sliitfoss #techtalk
                  #fosssrilanka #sliitlife #quarantinetecktalks
                </span>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a
                href="https://friends.figma.com/events/details/figma-sri-lanka-presents-the-design-process/"
                target="_blank"
              >
                <button color="primary" class="btn">
                  <span>REGISTER</span>
                </button>
              </a>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div>
    <app-past-events></app-past-events>
  </div>

  <div>
    <app-webinars></app-webinars>
  </div>
</section>
