<section class="auto-space auto-space-vertical">
  <p class="page-title pb-0" data-aos="fade-up">Upcoming Event</p>
</section>
<section class="auto-space auto-space-vertical pt-0">
  <div>
    <div data-aos="fade-up" data-aos-duration="1000">
      <mat-card class="upcoming-event-card">
        <div class="row">
          <div class="col-md-4 col-sm-12 py-3 my-auto">
            <img
              alt="Photo of a Shiba Inu"
              mat-card-image
              src="../../../assets/img/events/azure-security.jpg"
              class="w-100 m-0"
            />
          </div>

          <div class="col-md-8 col-sm-12">
            <mat-card-content
              ><br /><br /><br />
              <mat-card-title
                >Defence Againse Dark Arts - Azure Security
                Center</mat-card-title
              >
              <mat-card-subtitle>Kasun Raditha Rajapaksha</mat-card-subtitle>
              <p class="upcoming-event-description mt-lg-5 mt-5">
                It is the webinar series that you have been waiting for, Defense
                Against Dark Arts- Azure Security Center, in collaboration with
                SLIIT FOSS Community. Keep tune with SLIIT FOSS to get advanced
                information on our potential plans to you.
                <br /><br />
                <span class="text-color-primary">
                  ##sliit #sliitfoss #techtalk #azure #fosssrilanka #sliitlife
                  #quarantinetecktalks
                </span>
              </p>
            </mat-card-content>
            <!--            <mat-card-actions>-->
            <!--              <a href="#" target="_blank">-->
            <!--                <button color="primary" class="btn" disabled>-->
            <!--                  <span>REGISTER</span>-->
            <!--                </button>-->
            <!--              </a>-->
            <!--            </mat-card-actions>-->
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</section>

<div>
  <app-past-events></app-past-events>
</div>

<div>
  <app-webinars></app-webinars>
</div>
