.upcoming-event-card {
  max-width: 100%;
}

.upcoming-event-description {
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 1rem;
  text-align: justify;
  padding-top: 5rem;
}

.shib-inu {
  margin-left: auto;
  height: 350px;
  width: auto;
}
