/* .page-footer {
  color: white;
  position: static;
  bottom: 0px;
  width: 100%;
  background-color: #222222;
}

.sm-icons {
  padding-right: 5px;
  color: #7700cf;
}

.content {
  padding-left: 20px;
}

.footer-copyright {
  background-color: #222222;
  font-family: 'Baloo Thambi 2', sans-serif;
}

ul {
  list-style-type: none;
}

p,
i,
h2 {
  color: snow;
  font-family: 'Baloo Thambi 2', sans-serif;
}

a {
  color: white;
}

.content,
.links {
  background-color: #222222;
  padding-bottom: 10px;
}

.footer-heading {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-family: 'Baloo Thambi 2', sans-serif;
} */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background-color: #020c18;
  background-image: url(../../../../assets/img/topography.svg);
}
.footer-cta {
  border-bottom: 1px solid #5a5af3;
}
.single-cta i {
  color: #5a5af3;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #5a5af3;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #5a5af3;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #5a5af3;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #5a5af3;
  padding: 13px 20px;
  border: 1px solid #5a5af3;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #020c18;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #5a5af3;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #5a5af3;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
