<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4" style="padding-top: 0">
        <img
          class="navbar-brand"
          src="https://i.postimg.cc/FRP7Q8kz/FOSS.png"
          height="155"
          alt="SLIIT FOSS Logo"
        />
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-4 mb-md-0 mb-3">
        <h3 class="footer-heading">Helpful Links</h3>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/code-conduct">Code of Conduct</a>
          </li>
          <li>
            <a href="#">Contribution Guideline</a>
          </li>
          <li>
            <a href="#">Brand Assets</a>
          </li>
        </ul>
      </div>

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <h3 class="footer-heading">Contact US</h3>
        <p>Get in touch using any of these platforms</p>
        <a href="https://www.facebook.com/sliitfoss" target="_blank"
          ><i class="fab fa-facebook-square fa-3x sm-icons"></i
        ></a>
        <a href="https://instagram.com/sliitfoss" target="_blank"
          ><i class="fab fa-instagram-square fa-3x sm-icons"></i
        ></a>
        <a
          href="https://www.youtube.com/channel/UCPPO-QR0Dv13ewjhPsc_I3w"
          target="_blank"
          ><i class="fab fa-youtube-square fa-3x sm-icons"></i
        ></a>
        <a href="https://github.com/sliit-foss" target="_blank"
          ><i class="fab fa-github-square fa-3x sm-icons"></i
        ></a>
        <a href="https://medium.com/sliit-foss" target="_blank"
          ><i class="fab fa-medium fa-3x sm-icons"></i
        ></a>
      </div>
      <!-- / Grid column -->
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="#">SLIIT FOSS Community</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
