<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4" style="padding-top: 0">
        <img
          class="navbar-brand"
          src="https://i.postimg.cc/FRP7Q8kz/FOSS.png"
          height="135"
          width="125"
        />
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-4 mb-md-0 mb-3">
        <h3 class="footer-heading">Helpful Links</h3>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/code-conduct">Code of Conduct</a>
          </li>
          <li>
            <a href="#!">Contribution Guideline</a>
          </li>
          <li>
            <a href="#!">Brand Assets</a>
          </li>
        </ul>
      </div>

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <h3 class="footer-heading">Contact US</h3>
        <p>Get in touch using any of these platforms</p>
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </div>
      <!-- / Grid column -->
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="#">SLIIT FOSS Community</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
