<div class="container-lg clearfix">
  <div class="col-4 float-left p-4">
    <ul>
      <li>
        <div class="CircleBadge CircleBadge--small bg-gray-dark">
          <img
            src="../../assets/img/img-we-do.svg"
            alt="we do"
            class="CircleBadge-icon"
          />
        </div>
      </li>
      <li>
        <p class="p2 ml-3">150+</p>
        <p class="p3 ml-3">Completed Events</p>
      </li>
    </ul>
  </div>
  <div class="col-4 float-left p-4">
    <ul>
      <li>
        <div class="CircleBadge CircleBadge--small bg-gray-dark">
          <img
            src="../../assets/img/img-we-do.svg"
            alt="we do"
            class="CircleBadge-icon"
          />
        </div>
      </li>
      <li>
        <p class="p2 ml-3">150+</p>
        <p class="p3 ml-3">Completed Events</p>
      </li>
    </ul>
  </div>
  <div class="col-4 float-left p-4">
    <ul>
      <li>
        <div class="CircleBadge CircleBadge--small bg-gray-dark">
          <img
            src="../../assets/img/img-we-do.svg"
            alt="we do"
            class="CircleBadge-icon"
          />
        </div>
      </li>
      <li>
        <p class="p2 ml-3">150+</p>
        <p class="p3 ml-3">Completed Events</p>
      </li>
    </ul>
  </div>
</div>
