<section class="latest-blog-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title font-weight-bold mb-5">Latest Blog Posts</h2>
    <div class="row">
      <div
        *ngFor="
          let post of blogPost
            | paginate
              : { itemsPerPage: 10, currentPage: page, totalItems: totalLength }
        "
        class="col-md-4 mb-5"
      >
        <div class="card">
          <img
            alt="image"
            class="card-img"
            height="170px"
            src="{{ post.thumbnail }}"
            width="180px"
          />
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <a class="btn sliit-foss-btn" href="{{ post.link }}" target="_blank"
              >Read More</a
            >
          </div>
          <div
            class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0"
          >
            <div class="views">
              Published on {{ getDaysCount(post.pubDate) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="page = $event"> </pagination-controls>
  </div>
</section>
