# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: SLIIT FOSS CI

on:
  pull_request:
    branches: [master]

jobs:
  node-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Create environment file
        run: |
          cd src
          cd environments
          echo export const environment = \{production:true,emailServiceId:\"${{ secrets.emailServiceId }}\",emailTemplateId:\"${{ secrets.emailTemplateId }}\",emailUserId:\"${{ secrets.emailUserId }}\",firebaseConfig:\""${{ secrets.FIREBASE_WEB_CONFIG }}"\"\} > environment.production.ts
          cat environment.production.ts
      - run: npm install
      - run: npm run build

  docker-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
